* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text-center {
    text-align: center;
}

.calculator-table {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    border-collapse: collapse;
}

td {
    border: 3px solid black;
    padding: 40px;
    text-align: right;
    text-align:right;
    cursor: pointer;
    font-size: 20px;
}

.text-red{
    background-color:red;
}

.text-grey {
    background-color: rgb(163, 163, 163);
}

.table-data-color {
    background-color: rgba(240, 235, 235, 0.973);
}

.display {
    background-color: rgb(251, 251, 237);
}